@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

body {
  font-size: 16px;
}

  .head{
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    
    color: white;
  }

  .main-body{
  display: flex;
    .NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
    width: 15vw;
    height: 80vh;
    background-color: #f0f0f0;
    .links {
      font-size: 25px;
    }
  }
  .main {
    height: 80vh;
    width: 80vw
  }
}




.HomePage {

}

.AboutPage {

}

.ContactPage{

}

.AppPage {

}
